.dark-high-contrast {
  --md-sys-color-primary: rgb(236 239 255);
  --md-sys-color-surface-tint: rgb(176 198 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(171 194 253);
  --md-sys-color-on-primary-container: rgb(0 10 36);
  --md-sys-color-secondary: rgb(236 239 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(188 194 216);
  --md-sys-color-on-secondary-container: rgb(5 11 27);
  --md-sys-color-tertiary: rgb(255 234 251);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(220 183 218);
  --md-sys-color-on-tertiary-container: rgb(24 3 27);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 70 79);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(239 239 249);
  --md-sys-color-outline-variant: rgb(193 194 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(47 71 121);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 15 48);
  --md-sys-color-secondary-fixed: rgb(220 226 249);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(192 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(10 17 33);
  --md-sys-color-tertiary-fixed: rgb(253 215 250);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(224 187 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 8 33);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(79 80 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 31 37);
  --md-sys-color-surface-container: rgb(47 48 54);
  --md-sys-color-surface-container-high: rgb(58 59 65);
  --md-sys-color-surface-container-highest: rgb(69 70 76);
}
